div {
  background-color: cornflowerblue;
  padding: 5px 0px;
  color: white;
  border: 2px solid black;
}

.a {
  background-color: brown;
  color: white;
  padding-left: 5px;
}

.a li{
  display: inline-block;

}

.b {
  background-color: rgb(139, 139, 139);
  border: 1px solid grey;é
  padding-left: 20px;
}

.b li{
  padding: 5px 0;
  background-color: cadetblue
}

span {
  border: 1px solid rgb(236, 111, 180);
  border-width: 10px 5px 3px 0;
  font-size: 20px;
}

p {
  font-size: 30px;
  line-height: 130%;  
  color: red;
}

a {
  color: black;
  line-height: 130%;
  font-size: 40px;
}

a:hover {
  color: green;
}

button:disabled {
  background-color: plum;
}

.c {
  color: orange;
  padding: 10px;
}

.c> :nth-child(2) {
  color: green;
}

li::first-letter {
color: mediumvioletred;
}

button.a::first-letter {
  color: magenta;
} /*nefunguje mi*/

